<template>
  <div class="footer-div bg-dark text-light"> 
    <div class="container">
      <div class="row">
        <div class="col-12">
          爽爽的VUE學習過程
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  components: {
  },
  data(){
    return{
    }
  }
}
</script>
