<template>
  <div class="header-div bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-12 p-0">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                  <router-link class="navbar-brand" :to="'/'+$i18n.locale+'/'">從0開始學習Vue</router-link>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                        <router-link class="nav-link" :to="'/'+$i18n.locale+'/SoftwareList'">{{$t("software")}}</router-link>
                      </li>
                      <li class="nav-item">
                        <router-link class="nav-link" :to="'/'+$i18n.locale+'/LessonList'">{{$t("lesson")}}</router-link>
                      </li>
                      <li class="nav-item">
                        <router-link class="nav-link" :to="'/'+$i18n.locale+'/ReferenceList'">{{$t("reference")}}</router-link>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
  </div>
</template>

<script>

export default {
  components: {
  },
  data(){
    return{
      
    }
  }
}
</script>
