@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
body {
   font-family: 'Noto Sans TC', sans-serif;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 10px;
}

a{
    color: #40b883;
}

a:hover{
    color: #b1e2ce;
}

.text-vue{
    color: #40b883;
}

.content-box{
    border: 1px solid #b1e2ce;
    padding: 15px;
    background: rgba(205,219,233,.23);
}

pre{
    /* margin: 15px 0; */
}

.hljs {
    padding: 0;
    margin-right: 0;
}

.userImage{
    border-radius: 50%;
}


.h4{
    line-height: 40px;
}
