<template>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center p-3 py-5">
        <img class="img-fluid" src="@/assets/logo.png">
      </div>
      <div class="col-12 mb-5">
        <div class="content-box">
          <h1 class="my-5">{{text}}</h1>
          
          <ul class="h3 text-left">
            <li>
              <router-link :to="'/'+$i18n.locale+'/SoftwareList'">{{$t("software")}}</router-link>
            </li>
            <li>
              <router-link :to="'/'+$i18n.locale+'/LessonList'">{{$t("lesson")}}</router-link>
            </li>
            <li>
              <router-link :to="'/'+$i18n.locale+'/ReferenceList'">{{$t("reference")}}</router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  components: {
    // HelloWorld
  },
  metaInfo(){
    return{
      title: this.title
    }
  },
  data(){
    return{
      title: "爽爽的Vue練習 - " + this.$i18n.t("index"),
      text: this.$i18n.t("index")
    }
  }
}
</script>
