<template>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center py-3">
        <div class="content-box">
          <div class="display-3">404</div>
          <h1 class="text-vue">Page not find.</h1>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    components: {
    },
    data(){
      return{

      }
    },
    metaInfo: {
        title: 'page not find 404'
    }
  }

</script>