<template>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center p-3 py-5">
        <img class="img-fluid" src="@/assets/logo.png">
      </div>  
      <div class="col-12 mb-5">
          <div class="content-box">
            <h1 class="text-vue text-center my-5">{{subTitle}}</h1>
            
            <div class="row mb-4" v-for="key in data" :key="key.id" >
              <div class="col-12">
                <h2 class="text-info" >{{ key.cateName }}:</h2>
              </div>
              <div class="col-12">
                <ul class="h4">
                  <li v-for="keys in key.link" :key="keys.id">
                    <a :href="keys.url" v-if="keys.isLink == true" target="_blank">{{keys.name}}</a>  
                    <span v-if="keys.isLink == false">{{keys.name}}</span>  
                    
                  </li>
                </ul>
              </div>
            </div>

          </div>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    components: {
    },
    metaInfo(){
      return{
        title: this.title
      }
    },
    data(){
      return{
        title : "爽爽的Vue練習 - " + this.$i18n.t("reference"),
        subTitle : this.$i18n.t("reference"),
        data: [
          {
            cateName : this.$i18n.t("official"),
            link: [
              { name : "Vue.js", url: "https://cn.vuejs.org/" ,isLink: true }
            ]
          }
        ]
      }
    }
  }

</script>