<template>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center p-3 py-5">
        <img class="img-fluid" src="@/assets/logo.png">
      </div>  
      <div class="col-12 mb-5">
        <div class="content-box">
          <h1 class="text-vue text-center my-5">{{pageTitle}}</h1>
          
          <div class="row mb-4">
            <div class="col-12 mb-4">
              <h1 class="text-info">{{subTitle}}</h1>
            </div>
            <div class="col-12 mb-4">
              <h2>介紹</h2>
              <div class="row">
                <div class="col-12 px-5 h4">
                  Axios 是一個基於 Promise 的 HTTP 客戶端<br>
                  專門為瀏覽器和 node.js 服務 <br>
                  Vue 2.0 官方推薦使用 axios 來代替原來的 Vue request
                </div>
              </div>
            </div>
            <div class="col-12 mb-4">
              <h2>功能</h2>
              <div class="row">
                <div class="col-12 px-5 h4">
                  1.在瀏覽器中傳送 XMLHttpRequests 請求 在 node.js 中傳送 http 請求 <br>
                  2.支援 Promise API<br>
                  3.攔截請求和響應<br>
                  4.轉換請求<br>
                  5.和響應資料<br>
                  6.取消請求<br>
                  7.自動轉換 JSON 資料格式<br>
                  8.客戶端支援防範 XSRF 攻擊
                </div>
              </div>
            </div>
            <div class="col-12 mb-4">
              <h2>安裝</h2>
              <div class="row">
                <div class="col-12 px-5 h4">
                  開啟終端機輸入 <br>
<pre v-highlightjs>
  <code class="html">
  npm install --save axios
  </code>
</pre>
                  mac 建議使用
<pre v-highlightjs>
  <code class="html">
  sudo npm install --save axios
  </code>
</pre>
                  安裝 axios 之後，需要在 main.js 檔案中引用 package<br>
<pre v-highlightjs>
  <code class="html">
  import axios from "axios"; //載入 axios
  import vueAxios from "vue-axios"; //載入 vue-axios
  </code>
</pre>

                </div>
              </div>
            </div>

            <div class="col-12 mb-4">
              <h2>使用</h2>
              <div class="row">
                <div class="col-12 px-5 h4">
                  完成之後便可以在需要用到的vue檔案中使用，使用axios <br>
                  以GET來說可以這麼寫
<pre v-highlightjs>
  <code class="html">
  this.axios.get('/user?ID=12345')
  .then(response=>{
    console.log(response);
  })
  .catch(function (error) {
    console.log(error);
  });
  </code>
</pre>
                  或者是

<pre v-highlightjs>
  <code class="html">
  this.axios.get('/user', {
    params: {
      ID: 12345
    }
  })
  .then(response=>{
    console.log(response);
  })
  .catch(function (error) {
    console.log(error);
  });
  </code>
</pre>
                  POST請求
<pre v-highlightjs>
  <code class="html">
  this.axios.post('/user', {
    firstName: 'Fred',
    lastName: 'Flintstone'
  })
  .then(response=>{
    console.log(response);
  })
  .catch(function (error) {
    console.log(error);
  });
  </code>
</pre>          
                    執行多個發送請求 
<pre v-highlightjs>
  <code class="html">
  function getUserAccount() {
    return this.axios.get('/user/12345');
  }
  function getUserPermissions() {
    return this.axios.get('/user/12345/permissions');
  }

  this.axios.all([getUserAccount(), getUserPermissions()])
  .then(axios.spread(function (acct, perms) {
    
  }));
  </code>
</pre>          
                </div>
              </div>
            </div>
            <div class="col-12 mb-4">
              <h2>實例</h2>
              <div class="row">
                <div class="col-12 px-5 h4 text-center">
                  <button @click="getUserData">取得使用者資料</button>
                  <br>
                  <img :src="data.picture" class="img-fluid userImage mt-3" alt="" srcset="">
                  <br>
                  {{data.name}} <br>
                  {{data.gender}} {{data.age}}<br>
                  {{data.email}}<br>
                  
                  {{data.phone}}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>


import axios from "axios"; //載入 axios
  export default {
    components: {
    },
    metaInfo(){
      return{
        title: this.title
      }
    },
    data(){
      return{
        title : "爽爽的Vue練習 - " + this.$i18n.t("lesson") + " - " + this.$i18n.t("Axios"),
        pageTitle : this.$i18n.t("lesson"),
        subTitle : this.$i18n.t("Axios"),
        data: {
          name:  null,
          gender: null,
          email:  null,
          age: null,
          phone: null,
          picture: null,
        }
      }
    },

    methods: {
      getUserData(){
        axios.get('https://randomuser.me/api/')
        .then(response=>{
          var userData = response.data.results;
          for(var key in userData){
            this.data.name = userData[key].name.title + " " + userData[key].name.first + " " + userData[key].name.last;
            this.data.gender = userData[key].gender;
            this.data.email = userData[key].email;
            this.data.age = "(" + userData[key].dob.age + ")";
            this.data.phone = userData[key].phone;
            this.data.picture = userData[key].picture.large;
          }
        });
  
      },
    } 
  }

</script>