<template>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center p-3 py-5">
        <img class="img-fluid" src="@/assets/logo.png">
      </div>  
      <div class="col-12 mb-5">
          <div class="content-box">
            <h1 class="text-vue text-center my-5">{{pageTitle}}</h1>
            
            <div class="row mb-4">
              <div class="col-12 mb-4">
                <h1 class="text-info">{{subTitle}}</h1>
              </div>
              <div class="col-12 mb-4">
                <h2>環境變數設置</h2>
                <div class="row">
                  <div class="col-12 px-5 h4"><br>
                    <h3 class="text-vue">
                      Modes
                    </h3>
                    Vue CLI 內建 3 種 mode：<br>
                    development、test、production<br>
                    可於Vue ui 介面的"變量"選項內做選擇<br>
                    <img src="@/assets/images/image10.png" class="img-fluid mt-1 mb-4" alt="" srcset=""><br>
                    若要使用自定義模式時(預設之外)則選擇(unset)<br>
                    <img src="@/assets/images/image11.png" class="img-fluid mt-1 mb-4" alt="" srcset=""><br>
                    <br>
                    <h3 class="text-vue">
                      建立.env檔案
                    </h3>
                    .env：所有 mode 都會載入<br>
                    .env.local：所有 mode 都會載入，不會進 Git<br>
                    .env.[mode]：特定 mode 會載入<br>
                    .env.[mode].local：特定 mode 會載入，不會進 Git<br>
                    <br>
                    <h3 class="text-vue">
                      優先級
                    </h3>
                    若 key 同時存在 ".env"、".env.[mode]" 與 "env.[mode].local" 時<br>
                    則其載入順序為：<br>
                    .env → env.[mode] → env.[mode].local<br>
                    也就是其優先權為：<br>
                    env.[mode].local > env.[mode] > .env<br>
                    <br>
                    <h3 class="text-vue">
                      調用參數
                    </h3>
                    .env.development
<pre v-highlightjs>
  <code class="html">
  NODE_ENV=development
  VUE_APP_MODE='開發模式'  
  </code>
</pre>
                    NODE_ENV：指定使用 Vue CLI 內建的 3 個 mode 之一<br>
                    VUE_APP_API：所有變數以 VUE_APP_ 為開頭<br>
                    設定的變數可使用 process.env.VUE_APP_xxx 讀取。
<pre v-highlightjs>
  <code class="html">
  export default {
    data() {
      return {
        appMode: process.env.VUE_APP_MODE
      };
    }
  }
  </code>
</pre>
                  </div>
                </div>
              </div>
              <div class="col-12 mb-4">
                <h2>專案打包</h2>
                <div class="row">
                  <div class="col-12 px-5 h4">
                    若需要將專案打包生成dist時，<br>
                    請先於src同級目錄新增vue.config.js設定檔案<br>
                    以下為vue.config.js的基本配置<br>
<pre v-highlightjs>
  <code class="html">
  module.exports = {
    publicPath: "./",
    devServer: {
      port: 9000,
      open: true,
      https: false
    }
  };  
  </code>
</pre>
                    接著可於Vue ui介面進行打包<br>
                    <img src="@/assets/images/image09.png" class="img-fluid mt-1 mb-4" alt="" srcset="">
                    <br>
                    <br>
                    也可以直接於終端機下指令<br>
<pre v-highlightjs>
  <code class="html">
  npm run build --[mode]
  </code>
</pre>
                  </div>
                </div>
              </div>
            </div>

          </div>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    components: {
    },
    metaInfo(){
      return{
        title: this.title
      }
    },
    data(){
      return{
        title : "爽爽的Vue練習 - " + this.$i18n.t("lesson") + " - " + this.$i18n.t("build"),
        pageTitle : this.$i18n.t("lesson"),
        subTitle : this.$i18n.t("build"),
        data: [
        ]
      }
    }
  }

</script>