<template>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center p-3 py-5">
        <img class="img-fluid" src="@/assets/logo.png" />
      </div>
      <div class="col-12 mb-5">
        <div class="content-box">
          <h1 class="text-vue text-center my-5">{{pageTitle}}</h1>

          <div class="row mb-4">
            <div class="col-12 mb-4">
              <h1 class="text-info">{{subTitle}}</h1>
            </div>

            <div class="col-12 mb-4">
              <h2>建立一個按鈕</h2>
              <div class="row">
                <div class="col-12 px-5 h4">
                  一般將需要使用的到組件都放於components內<br>
                  以quiButton.vue為範例<br>
                  class="qui-btn" 表示之後在調用建立這個按鈕時所需的標籤名<br>
                  當按鈕組件被初始化的時候，<br>
                  text自定義屬性會被綁定到span標籤中
<pre v-highlightjs>
  <code class="html">
  &lt;template&gt; 
    &lt;button&gt;
      &lt;span&gt; { {text}}&lt;/span&gt; 
    &lt;/button&gt;
  &lt;/template&gt; 

  &lt;script&gt;
    export default { 
      props: { 
        text: { 
          default:"&#38928;&#35373;&#25991;&#23383;" 
        }
      } 
    };
  &lt;/script&gt;
  </code>
</pre>
                </div>
              </div>
            </div>

            <div class="col-12 mb-4">
              <h2>如何調用?</h2>
              <div class="row">
                <div class="col-12 px-5 h4">
                  首先我們必須在頁面中import組件
<pre v-highlightjs>
  <code class="html">
  &lt;script&gt;
    import quiBtn from '@/components/quiButton.vue'
    export default { 
      components: { 
        'qui-btn': quiBtn
      } 
    };
  &lt;/script&gt;
  </code>
</pre>
                  之後只要在頁面上使用註冊的自定義標籤就可以得到一個<br>
                  <br>
                  <qui-btn></qui-btn>
                  <br>
                  <br>
                  透過覆寫text的值改變顯示的文字
                  <br>
<pre v-highlightjs>
  <code class="html">
  &lt;qui-btn text="&#25171;&#20160;&#40636;&#23601;&#39023;&#31034;&#20160;&#40636;"&gt;&lt;/qui-btn&gt;
  </code>
</pre>
                  <qui-btn text="打什麼就顯示什麼"></qui-btn>
                </div>
              </div>
            </div>
            <div class="col-12 my-4">
              <h2>按鈕事件</h2>
              <div class="row">
                <div class="col-12 px-5 h4">
                  先在按鈕組件設定預設事件
<pre v-highlightjs>
  <code class="html">
&lt;script&gt;
export default { 
  props: {
     text: {
        default: "&#38928;&#35373;&#25991;&#23383;" 
      },
      msg: { 
        default: "&#38928;&#35373;&#24392;&#20986;&#25991;&#23383;" 
      }
  }, 
  methods: {
    // &#32465;&#23450;&#20107;&#20214;&#30340;&#38364;&#37749;&#20195;&#30908;
    btnClickEvent: function() {
      alert(this.msg); 
    } 
  } 
};
&lt;/script&gt;
  </code>
</pre>
                  <qui-btn></qui-btn><br>
                  <br>
                  同樣的可以透過覆寫來客製出需要的按鈕以及文字<br>
<pre v-highlightjs>
  <code class="html">
  &lt;qui-btn text="&#25105;&#21487;&#20197;&#24392;&#20986;&#21029;&#30340;&#23383;" msg="&#25171;&#20160;&#40636;&#25105;&#23601;&#24392;&#20986;&#20160;&#40636;"&gt;&lt;/qui-btn&gt;
  </code>
</pre>
                  <qui-btn text="我可以彈出別的字" msg="打什麼我就彈出什麼"></qui-btn>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import quiBtn from '@/components/quiButton.vue'

export default {
  components: {
    'qui-btn' : quiBtn
  },
  metaInfo() {
    return {
      title: this.title
    };
  },
  data() {
    return {
      title:
        "爽爽的Vue練習 - " +
        this.$i18n.t("lesson") +
        " - " +
        this.$i18n.t("componentExercises"),
      pageTitle: this.$i18n.t("lesson"),
      subTitle: this.$i18n.t("componentExercises"),
      data: []
    };
  },
  methods: {
  } 
};
</script>