<template>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center p-3 py-5">
        <img class="img-fluid" src="@/assets/logo.png">
      </div>  
      <div class="col-12 mb-5">
          <div class="content-box">
            <h1 class="text-vue text-center my-5">{{pageTitle}}</h1>
            
            <div class="row mb-4" >
              <div class="col-12 mb-4">
                <h1 class="text-info">{{subTitle}}</h1>
              </div>
              <div class="col-12 mb-4">
                <h2>搭建環境</h2>
                <div class="row">
                  <div class="col-12 py-3 px-5 h4">
                    請先安裝 <a href="https://nodejs.org/en/" target="_blank">Node.js</a> （建議下載最多人使用版本）<br>
                    打開終端機輸入命令安裝 <a href="https://cli.vuejs.org/zh/guide/installation.html" target="_blank">Vue CLI</a>
                    <pre v-highlightjs><code class="html">npm install -g @vue/cli</code></pre>
                    mac 建議使用 sudo
                    <pre v-highlightjs><code class="html">sudo install -g @vue/cli</code></pre>
                  </div>
                </div>
              </div>
              <div class="col-12 mb-4">
                <h2>建立專案</h2>
                <div class="row">
                  <div class="col-12 py-3 px-5 h5">
                    在終端機輸入命令
                    <pre v-highlightjs><code class="html">vue ui</code></pre>
                    mac 建議使用 sudo
                    <pre v-highlightjs><code class="html">sudo vue ui</code></pre>
                    <br>
                    此時 <a href="https://cli.vuejs.org/zh/guide/installation.html" target="_blank">Vue CLI</a> 將會在瀏覽器開啟Vue項目管理器
                    <img src="@/assets/images/image01.png" class="img-fluid mt-1 mb-4" alt="" srcset="">
                    <br>
                    點選新增，並選擇要建立專案的資料夾<br>
                    <img src="@/assets/images/image02.png" class="img-fluid mt-1 mb-4" alt="" srcset="">
                    <br>
                    接著就是設定一些專案的基本資訊<br>
                    <img src="@/assets/images/image03.png" class="img-fluid mt-1" alt="" srcset="">
                    <img src="@/assets/images/image04.png" class="img-fluid mt-1 mb-4" alt="" srcset="">
                    <br>
                    完成後等待專案建立<br>
                    <img src="@/assets/images/image05.png" class="img-fluid mt-1 mb-4" alt="" srcset="">
                    <br>
                    專案管理介面
                    <img src="@/assets/images/image06.png" class="img-fluid mt-1 mb-4" alt="" srcset="">
                  </div>
                </div>
              </div>
              <div class="col-12 mb-4">
                <h2>運行專案</h2>
                <div class="row">
                  <div class="col-12 py-3 px-5 h5">
                    在Vue cli service serve 頁面中 點擊運行<br>
                    <img src="@/assets/images/image07.png" class="img-fluid mt-1 mb-4" alt="" srcset="">
                    <br>
                    Service起成功後即可啟動app<br>
                    <img src="@/assets/images/image08.png" class="img-fluid mt-1 mb-4" alt="" srcset="">
                    
                  </div>
                </div>
              </div>
            </div>

          </div>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    components: {
    },
    metaInfo(){
      return{
        title: this.title
      }
    },
    data(){
      return{
        title : "爽爽的Vue練習 - " + this.$i18n.t("lesson") + " - " + this.$i18n.t("createProject"),
        pageTitle : this.$i18n.t("lesson"),
        subTitle : this.$i18n.t("createProject"),
        data: [
        ]
      }
    }
  }

</script>