<template>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center p-3 py-5">
        <img class="img-fluid" src="@/assets/logo.png">
      </div>  
      <div class="col-12 mb-5">
          <div class="content-box">
            <h1 class="text-vue text-center my-5">{{subTitle}}</h1>
            
            <div class="row mb-4" >
              <div class="col-12">
                <ul class="h3">
                  <li v-for="key in data" :key="key.id">
                    <router-link :to="'/'+$i18n.locale+'/LessonList'+key.url">{{key.name}}</router-link>
                  </li>
                </ul>
              </div>
            </div>

          </div>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    components: {
    },
    metaInfo(){
      return{
        title: this.title
      }
    },
    data(){
      return{
        title : "爽爽的Vue練習 - " + this.$i18n.t("lesson"),
        subTitle : this.$i18n.t("lesson"),
        data: [
          { name : this.$i18n.t("createProject"), url: "/CreateProject" ,isLink: true },
          { name : this.$i18n.t("componentExercises"), url: "/Component" ,isLink: true },
          { name : this.$i18n.t("axios"), url: "/Axios" ,isLink: true },
          { name : this.$i18n.t("build"), url: "/Build" ,isLink: true },
        ]
      }
    }
  }

</script>