<template>
  <div id="app">
      <Header></Header>
      <router-view></router-view>
      <Footer></Footer>
  </div>
</template>

<script>
  import Header from './views/common/Header.vue'
  import Footer from './views/common/Footer.vue'



  export default {
    components: {
      Header : Header,
      Footer : Footer
    },
    data(){
      return{

      }
    }
  }

</script>
<style>


</style>
